@model Lisa.Civilization.Models.Lesson

@{
    ViewBag.Title = "Cast";
}

<textarea>@Model.Question</textarea>

<ul id="viewers">
</ul>

@section scripts
{
    <script src="/Scripts/jquery.signalR-2.0.2.min.js"></script>
    <script src="/signalr/hubs"></script>

    <script>
        var hub = $.connection.lessonHub;
        $.connection.hub.start().done(initialize);

        function initialize() {
            $('textarea').keyup(broadcastQuestion);
        }

        function broadcastQuestion() {
            var question = $('textarea').val();
            hub.server.updateQuestion('@Model.Id', question);
        }

        hub.client.registerViewer = function(userName) {
            $('#viewers').append('<li>' + userName + '</li>');
        }
    </script>
}